.footer-line {
  width: 96%;
  height: 3px;
  background: #1a1a1a;
  /* linear-gradient(to right, #888 0%, #444 50%, #888 100%); */
  opacity: 0.9;
  margin-top: 10em;
  margin: 40px auto 0 auto;
  border-radius: 999px;
  transition: opacity 0.3s ease;
}
*/ .footer-line:hover {
  opacity: 1;
}

.footer-text {
  /* text-align: center; */
  margin-left: 1.7em;
  margin-top: 1.3em;
  margin-bottom: 1em;
  font-size: 1.5em;
  font-family: "AvenirLTPro45Book", sans-serif;
}
