@import "./base.css";

@import "https://api.fontshare.com/v2/css?f[]=satoshi@400&display=swap";
@import "https://api.fontshare.com/v2/css?f[]=dancing-script@400&display=swap";

@font-face {
  font-family: "Bento";
  src: url("./fonts/BentonModernDRegular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "AvenirLTPro45Book";
  src: url("./fonts/AvenirLTPro45Book.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Brag";
  src: url("./fonts/BragRegular.ttf") format("truetype");
  font-weight: normal;
}

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  /* padding: 3px; */
}

/* @media (hover: hover) {
  a:hover {
    background-color: white;
  }
} */

@media (min-width: 1024px) {
  body {
    /* display: flex; */
    /* place-items: center; */
  }

  #app {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* padding: 0 2rem; */
  }
}

a {
  text-decoration: none;
  color: inherit;
}
/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #000, #020202);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #000, #020202);
}

::selection {
  background: #1a1a1a;
  color: #f3f3f3;
}

::-moz-selection {
  background: #1a1a1a;
  color: #f3f3f3;
}

/* @media (max-width: 796px) {
  body {
    background: #010101;
    color: aliceblue;
  }
} */
